


<div ng-controller="websocketController">
    
    <h2>Agendamentos</h2>
    <hr class="border-bottom-2">
    <div class="btn-group-sm">
        <a type="button" href="/formAgendamento" class="btn btn-success">Novo Agendamento</a>
        <a type="button" href="" ng-click="enviarAgendamentos()" class="btn btn-primary float-right">Enviar
            Agendamentos</a>
    </div>
    <hr>

<div class="pre-scrollable">
    <table class="table table-bordered">
        <thead>
        <tr>
            
            <th scope="col">Agendado Para:</th>
            
            <th scope="col">Ventilador</th>
            <th scope="col">Luz da Sala</th>
            <th scope="col">Luz do Quarto</th>
            <th scope="col">TV</th>
            <th scope="col">Editar</th>
            <th scope="col">Remover</th>

        </tr>
        </thead>
        <tbody>
        {{#each dados}}

            <tr>

                <td>  {{data}} as {{horas}} h</td>
            
                <td>{{ventilador}}</td>
                <td>{{luzSala}}</td>
                <td>{{luzQuarto}}</td>
                <td>{{tv}}</td>
                <td align="center">
                    <form method="post" action="/edit">
                        <button name="id" value="{{id}}" class="btn btn-primary">Editar</button>
                    </form>
                </td>
                <td align="center">
                    <form method="post" action="/actions/destroy">
                        <button name="id" value="{{id}}" class="btn btn-danger">Remover</button>
                    </form>
                </td>
            </tr>
        {{/each}}




        </tbody>
    </table>
</div>
</div>